@charset "UTF-8";

body {
    background-color: black;
}

form {
    margin: 20px auto;
    padding: 20px;
    width: 600px;
    height: 400px;
    background-color: rgb(8, 8, 138);
    border-radius: 20px;
    color: white;
}